# {{ ansible_managed }}

[Interface]
# The address your computer will use on the VPN
Address = {{ vps_vpn_network_homelab_client_ip }}/32
# private client key
PrivateKey = {{ wg0_homelab_client_private_key }}
# The DNS server you'll use while connected to the VPN
# local pihole DNS server first, then other DNS servers
DNS = 10.1.0.3,1.1.1.1,8.8.8.8

{# Not working with official macos client #}
{#PostUp = pfctl -e -f /path/to/pf.conf#}
{#PreDown = pfctl -d#}


[Peer]
# VPN server's wireguard public key
PublicKey = {{ wg0_server_public_key }}
# Use the floating IP address if you created one for your VPN server
Endpoint = {{ vps_duckdns_subdomain }}.duckdns.org:51820
# Route only the traffic destined for the VPN over the VPN
AllowedIPs = {{ vps_vpn_network_server_ip }}/24
# Persistent keepalive interval (usually necessary if you're behind a NAT)
PersistentKeepalive = 25
