# {{ ansible_managed }}
title: Homelab
headerStyle: clean
useEqualHeights: true
hideVersion: false

layout:
  Networking:
    style: column
  Monitoring:
    style: column
  Storage:
    style: column
  Services:
    style: column
