# {{ ansible_managed }}
title: Homelab
headerStyle: clean
{#headerStyle: boxedWidgets#}
useEqualHeights: true
hideVersion: false
disableUpdateCheck: true
showStats: false
disableIndexing: true
{#maxGroupColumns: 8#}

layout:
  Servers:
    style: row
    columns: 4
  Services:
    style: column
  Storage:
    style: column
  Networking:
    style: column
  Monitoring:
    style: column
