# {{ ansible_managed }}
title: Homelab
favicon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/home-assistant.png
headerStyle: clean
layout:
  Networking:
    style: row
    columns: 3
  Services:
    style: row
    columns: 3
  Downloads:
    style: row
    columns: 2
  Monitoring:
    style: row
    columns: 3
  Storage:
    style: row
    columns: 2
