# {{ ansible_managed }}

# homelab
[Interface]
# The IP address range for the VPN network
Address = {{ vpn_network_homelab_ip }}/32
# The port number on which the server will listen for connections
ListenPort = 51820
# The server's private key
PrivateKey = {{ wg0_homelab_private_key }}
# Auto update on config change
SaveConfig = true
# Optionally, you can configure PostUp and PostDown rules, e.g., for iptables
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -A FORWARD -o %i -j ACCEPT; iptables -t nat -A POSTROUTING -s {{ vpn_network_subnet }} -o eth0 -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -D FORWARD -o %i -j ACCEPT; iptables -t nat -D POSTROUTING -s {{ vpn_network_subnet }} -o eth0 -j MASQUERADE


# vps
[Peer]
PublicKey = {{ wg0_vps_public_key }}
Endpoint = {{ vps_duckdns_subdomain }}.duckdns.org:51820
AllowedIPs = {{ vpn_network_vps_ip }}/32
PersistentKeepalive = 25

# Macbook
[Peer]
PublicKey = {{ wg0_macbook_client_public_key }}
AllowedIPs = {{ vpn_network_macbook_client_ip }}/32
PersistentKeepalive = 25

# iPhone
[Peer]
PublicKey = {{ wg0_iphone_client_public_key }}
AllowedIPs = {{ vpn_network_iphone_client_ip }}/32
PersistentKeepalive = 25
