# {{ ansible_managed }}

# Stream to Pi5 (active-active parent)
[stream]
    enabled = yes
    destination = {{ vpn_network_pi5_ip }}:19999
    api key = {{ netdata_stream_api_key }}
    send charts matching = *

# Accept streams from Pi5
[{{ netdata_stream_api_key }}]
    enabled = yes
    allow from = {{ vpn_network_pi5_ip }}
    db = dbengine
    enable replication = yes
    replication period = 14d
