# {{ ansible_managed }}

[Interface]
# The address your computer will use on the VPN
Address = 10.0.1.2/32
# private client key
PrivateKey = {{ wg0_client_private_key }}
# The DNS server you'll use while connected to the VPN
DNS = 1.1.1.1

{# Not working with official macos client #}
{#PostUp = pfctl -e -f /path/to/pf.conf#}
{#PreDown = pfctl -d#}


[Peer]
# VPN server's wireguard public key
PublicKey = {{ wg0_server_public_key }}
# Use the floating IP address if you created one for your VPN server
Endpoint = {{ vps_duckdns_subdomain }}.duckdns.org:51820
# Route all traffic through VPN (all Ipv4 IPs except those in the local subnet + all IPv6 IPs)
# 0.0.0.0/1 and 128.0.0.0/1 cover all IPv4 addresses except for the 192.168.1.0/24 range.
AllowedIPs = 0.0.0.0/1, 128.0.0.0/1, ::/0
# Persistent keepalive interval (usually necessary if you're behind a NAT)
PersistentKeepalive = 25
