# {{ ansible_managed }}

version: '3.8'
services:
  duckdns:
    image: linuxserver/duckdns:latest
    container_name: duckdns
    environment:
      - TZ={{ timezone }}
      - SUBDOMAINS={{ vps_duckdns_subdomain }}
      - TOKEN={{ duckdns_token }}
    restart: unless-stopped

  wireguard:
    image: linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
      - SERVERURL={{ vps_duckdns_subdomain }}.duckdns.org
      - SERVERPORT=51820
    volumes:
      - {{ infra_dir }}/server_wg0.conf:/config/wg_confs/server_wg0.conf
      - /lib/modules:/lib/modules
    ports:
      - "51820:51820/udp"
      - "51821:51821/tcp"
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:51820"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

{#  wireguard-ui:#}
{#    image: ngoduykhanh/wireguard-ui:latest#}
{#    container_name: wireguard-ui#}
{#    cap_add:#}
{#      - NET_ADMIN#}
{#    network_mode: host#}
{#    environment:#}
{#      - SENDGRID_API_KEY#}
{#      - EMAIL_FROM_ADDRESS#}
{#      - EMAIL_FROM_NAME#}
{#      - SESSION_SECRET#}
{#      - WGUI_USERNAME=alpha#}
{#      - WGUI_PASSWORD=this-unusual-password#}
{#      - WG_CONF_TEMPLATE#}
{#      - WGUI_MANAGE_START=false#}
{#      - WGUI_MANAGE_RESTART=false#}
{#    logging:#}
{#      driver: json-file#}
{#      options:#}
{#        max-size: 50m#}
{#    volumes:#}
{#      - ./db:/app/db#}
{#      - /etc/wireguard:/etc/wireguard#}