global:
  sendAnonymousUsage: false


log:
  level: INFO

api:
  dashboard: true
  insecure: true

# Lightweight health endpoint used by `traefik healthcheck --ping` (container healthcheck).
ping: {}

entryPoints:
  web:
    address: ":80"
    http:
      middlewares:
        - internal-only@file
{#    http:#}
{#      redirections:#}
{#        entryPoint:#}
{#          to: websecure#}
{#          scheme: https#}

{#  websecure:#}
{#    address: ":443"#}
{#    http:#}
{#      tls:#}
{#        certResolver: myresolver#}

{#certificatesResolvers:#}
{#  myresolver:#}
{#    acme:#}
{#      email: {{ email }}#}
{#      storage: acme.json#}
{#      httpChallenge:#}
{#        entryPoint: web#}

providers:
  docker:
    exposedByDefault: false
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true
